.input_field {
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.login_button {
    background-color: #008CBA;
    font-size: px;
    padding: 12px 28px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.login_button:hover {
    background-color: #008CBA;
    color: white;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #5c688a;
}

.input input {
    padding: 10px 8px;
    width: 100%;
    font-size: 20px;
    background: #a59d9d;
    border: none;
    color: #000000;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}

table,
th,
td {
    border: 1px solid;
    padding: 12px;
    align-content: baseline;
    background-color: rgb(226, 222, 201);
    font-family: "Segoe UI", sans-serif;
    margin: 10px;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a86a5;
}

.heading {
    color: aliceblue;
    font-size: 50px;
    font-family: "Segoe UI", sans-serif;
    margin: 20px;
}

.form {
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background: #fff2f2;
    border-radius: 4px;
    border: 1px solid #b3c9db;
    padding: 100px;
}

.title {
    text-align: center;
    width: 30vw;
    background-color: rgb(230, 225, 235);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Login {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 20px;
    background-color: rgb(230, 207, 207);
    border-radius: 0 0 10px 10px;
}

.input {
    display: block;
    margin-bottom: 20px;
}

.unauthorized {
    margin-left: 650px;
    margin-top: 150px;
}

.unauthorizedDiv {
    padding: 90px;
    border: solid;
    border-color:#94bddf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 500px;
    align-items: center;
}

button {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 60px;

}

span {
    padding: 20px;
    border: solid;
    border-color:#94bddf;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 170px;
    align-items: center;
}

span:hover {
    background-color: #94bddf;
}

nav {
    align-items: center;
}